*.rpyc
*.rpa

*python-packages/
*cache/

poems.rpy
poems_special.rpy
firstrun
glitchtext.rpy
credits.rpy
effects.rpy
CAN YOU HEAR ME.txt
bgm/
gui/
hxppy thxughts.png
iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii.txt
images/
poemwords.txt
script-ch0.rpy
script-ch1.rpy
script-ch10.rpy
script-ch2.rpy
script-ch20.rpy
script-ch21.rpy
script-ch22.rpy
script-ch23.rpy
script-ch3.rpy
script-ch30.rpy
script-ch4.rpy
script-ch40.rpy
script-ch5.rpy
script-exclusives-natsuki.rpy
script-exclusives-sayori.rpy
script-exclusives-yuri.rpy
script-exclusives2-natsuki.rpy
script-exclusives2-yuri.rpy
script-poemgame.rpy
script-poemresponses.rpy
script-poemresponses2.rpy
sfx/